<label>Quartos</label>

<select name={{name}} onchange={{action "changeQuantityRooms" value="target.value"}}>
    <option value="1">1</option>
    <option value="2">2</option>
</select>

<hr />

<div class="container-people">
    <label>Adultos | +18</label>

    <select name={{concat name "1-adult"}}>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>

    <label>Crianças | até 17 anos</label>

    <select name={{concat name "1-children"}} onchange={{action "changeQuantityChildren" value="target.value"}}>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>

    <div class="container-children"></div>
</div>