<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#pacotes" aria-controls="pacotes" role="tab" data-toggle="tab" {{action "clearFields"}}>Pacotes</a>
                </li>

                <li role="presentation">
                    <a href="#passagens" aria-controls="passagens" role="tab" data-toggle="tab" {{action "clearFields"}}>Passagens Aéreas</a>
                </li>

                <li role="presentation">
                    <a href="#carros" aria-controls="carros" role="tab" data-toggle="tab" {{action "clearFields"}}>Carros</a>
                </li>

                <li role="presentation">
                    <a href="#hoteis" aria-controls="hoteis" role="tab" data-toggle="tab" {{action "clearFields"}}>Hoteis</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="pacotes">
                    {{#tab-form url="http://www.cvc.com.br/monte-sua-viagem/resultados" getUrlAdress=(action "getUrlAddress") submitForm=(action "submitForm")}}
                        <div style="margin-bottom: 35px"></div>

                        <div class="row">
                            <div class="col-sm-6">
                                {{input-location label="Origem" name="fromCityCode" required="true" productType="AIR" onSelectCity=(action "getValueLocation")}}
                            </div>

                            <div class="col-sm-6">
                                {{input-location label="Destino" name="toCityCode" required="true" productType="AIR" onSelectCity=(action "getValueLocation")}}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Entrada:</label>

                                    {{bootstrap-datepicker name="leaveDate" value=leaveDate class="form-control" format="dd/mm/yyyy" language="pt-BR" todayHighlight="true" startDate="model.todayDate" changeDate=(action "dateChanged" "leaveDate")}}
                                </div>
                            </div>
                            
                            {{#unless properties.oneTrip}}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Saída:</label>

                                    {{bootstrap-datepicker name="returnDate" value=returnDate class="form-control" format="dd/mm/yyyy" language="pt-BR" startDate=leaveDate changeDate=(action "dateChanged" "returnDate")}}
                                </div>
                            </div>
                            {{/unless}}
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {{select-rooms name="rooms" onChangeRooms=(action "getValuesRoom")}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input name="oneTrip" value={{oneTrip}} onchange={{action "changedCheckbox"}} type="checkbox"> Somente ida
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input name="directTrip" value={{directTrip}} onchange={{action "changedCheckbox"}} value="true" type="checkbox"> Somente voos diretos
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/tab-form}}
                </div>

                <div role="tabpanel" class="tab-pane" id="passagens">
                    {{#tab-form url="http://www.cvc.com.br/passagens-aereas/resultados" getUrlAdress=(action "getUrlAddress") submitForm=(action "submitForm")}}
                        <div style="margin-bottom: 35px"></div>

                        <div class="row">
                            <div class="col-sm-6">
                                {{input-location label="Origem" name="fromCityCode" onSelectCity=(action "getValueLocation") required="true" productType="AIR"}}
                            </div>

                            <div class="col-sm-6">
                                {{input-location label="Destino" name="toCityCode" onSelectCity=(action "getValueLocation") required="true" productType="AIR"}}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Entrada:</label>

                                    {{bootstrap-datepicker name="leaveDate" value=leaveDate class="form-control" format="dd/mm/yyyy" language="pt-BR" todayHighlight="true" startDate="model.todayDate" changeDate=(action "dateChanged" "leaveDate")}}
                                </div>
                            </div>
                            
                            {{#unless properties.oneTrip}}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Saída:</label>

                                    {{bootstrap-datepicker name="returnDate" value=returnDate class="form-control" format="dd/mm/yyyy" language="pt-BR" startDate=leaveDate changeDate=(action "dateChanged" "returnDate")}}
                                </div>
                            </div>
                            {{/unless}}
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Adultos: </label>

                                    <select name="ADT" onchange={{action "changedField"}} class="form-control">
                                        <option value="">Selecione</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Crianças: </label>

                                    <select name="CHD" onchange={{action "changedField"}} class="form-control">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Bebês: </label>

                                    <select name="INF" onchange={{action "changedField"}} class="form-control">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input name="oneTrip" value={{oneTrip}} onchange={{action "changedCheckbox"}} type="checkbox"> Somente ida
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input name="directTrip" value={{directTrip}} onchange={{action "changedCheckbox"}} value="true" type="checkbox"> Somente voos diretos
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/tab-form}}
                </div>

                <div role="tabpanel" class="tab-pane" id="carros">
                    {{#tab-form url="http://www.cvc.com.br/carros/resultados" getUrlAdress=(action "getUrlAddress") submitForm=(action "submitForm")}}
                        <div style="margin-bottom: 15px"></div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="returnOtherPlace" onchange={{action "changedCheckbox"}}> Devolver em outro local
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="margin-bottom: 15px"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                {{input-location label="Local de retirada" name="pickUpLocationCode" required="true" productType="CAR" onSelectCity=(action "getValueLocation")}}
                            </div>                            
                        </div>
                        
                        {{#if properties.returnOtherPlace}}
                        <div class="row">
                            <div class="col-sm-12">
                                {{input-location label="Local de devolução" name="returnLocationCode" required="true" productType="CAR" onSelectCity=(action "getValueLocation")}}
                            </div>                            
                        </div>
                        {{/if}}

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Início</label>

                                    {{bootstrap-datepicker name="pickUpDate" value=pickUpDate class="form-control" format="dd/mm/yyyy" language="pt-BR" todayHighlight="true" startDate="model.todayDate" changeDate=(action "dateChanged" "pickUpDate")}}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Término</label>

                                    {{bootstrap-datepicker name="returnDate" class="form-control" format="dd/mm/yyyy" language="pt-BR" startDate=pickUpDate changeDate=(action "dateChanged" "returnDate")}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Horário de retirada</label>

                                    <input type="text" class="form-control" name="pickUpHour" onchange={{action "changedField"}} placeholder="00:00" max-lenght="5">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Horário de devolução</label>

                                    <input type="text" class="form-control" name="returnHour" onchange={{action "changedField"}} placeholder="00:00" max-lenght="5">
                                </div>
                            </div>
                        </div>
                    {{/tab-form}}
                </div>

                <div role="tabpanel" class="tab-pane" id="hoteis">
                    {{#tab-form url="http://www.cvc.com.br/hoteis/resultados" getUrlAdress=(action "getUrlAddress") submitForm=(action "submitForm")}}
                        <div style="margin-bottom: 35px"></div>

                        <div class="row">
                            <div class="col-xs-12">
                                {{input-location label="Destino" name="cityCode" required="true" productType="HOT" onSelectCity=(action "getValueLocation")}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Entrada</label>

                                    {{bootstrap-datepicker name="checkIn" value=checkIn class="form-control" format="dd/mm/yyyy" language="pt-BR" todayHighlight="true" startDate="model.todayDate" changeDate=(action "dateChanged" "checkIn")}}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Saída</label>

                                    {{bootstrap-datepicker name="checkOut" class="form-control" format="dd/mm/yyyy" language="pt-BR" changeDate=(action "dateChanged" "checkOut") startDate=checkIn}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {{select-rooms name="rooms" onChangeRooms=(action "getValuesRoom")}}
                            </div>
                        </div>
                    {{/tab-form}}
                </div>
            </div>
        </div>
    </div>
</div>
